<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="main_layout.html">
<body>
<div layout:fragment="siteContent"><br> <br>
    <div th:each="zayav: ${zayavky}">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Заявка от <b th:text="${zayav.userName}"></b></h5>
                <h6 class="card-subtitle mb-2 text-muted">Курс <b th:text="${zayav.courseName}"></b></h6>
                <p class="card-text"><b th:text="${zayav.commentary}"></b></p>
                <h6 class="card-title">Тел:<b th:text="${zayav.phone}"></b></h6>
                <a th:href="@{'/application-details?id=' + ${zayav.id}}" class="card-link">Подробнее</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>